* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.newsCont {
  /* border: 1px solid black; */
  width: 100%;
  margin-top: 50px;
  font-family: sans-serif;
}
.searchDiv {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  /* position: fixed; */
  border: 3px solid rgb(60, 60, 60);;
  width: 50%;
}
.searchBox {
  width: 95%;
  padding: 2px 10px;
  height: 40px;
  font-size: 20px;
  /* border: 2px solid rgb(60, 60, 60); */
  border: none;
}
.oneNews {
  display: flex;
  width: 50%;
  margin: 10px auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 15px;
}

.newsImg {
  width: 250px;
  height: 200px;
}
.title {
  font-size: 18px;
  margin-bottom: 5px;
}
.desc {
  font-size: 16px;
  margin-bottom: 35px;

}
.searchIcon{
    margin-bottom: -1%;
    /* border:1px solid; */
    height: 4%;
    width: 4%;
    cursor: pointer;
}